html,
body {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 1.2;
  font-family: Roboto, "Arial", sans-serif;

  background-color: #849d8f;
}

.site-wrapper {
  min-width: 940px;

  background-color: #849d8f;
  background-image: url("/img/chocolate-ice-cream-and-lemon-sorbet.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("/img/chocolate-ice-cream-and-lemon-sorbet.png");
}

.site-wrapper::after {
  background-image: url("/img/creamy-strawberry-with-white-chocolate-powder.jpg");
}

.slider-container {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  position: relative;

  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  background-color: #f26843;
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 10;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("/img/creme-brulee-and-ice-cream-with-raspberry-jam.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("/img/chocolate-ice-cream-and-lemon-sorbet.png   ");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("/img/ice-cream-with-fondant-and-strawberry-sorbet.png");
}


#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="chechbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button.disabled,
.button:disabled {
  background-color: #808080;
  cursor: default;
  opacity: 0.5;
}
